@model WebApplication1.Models.StatusOptions
@{
    ViewBag.Title = "Edit Status Option";
}
<h2>Edit Status Option</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Id)
    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
    </div>
    <button type="submit" class="btn btn-success">Save</button>
    @Html.ActionLink("Back", "Index", "Admin", null, new { @class = "btn btn-secondary ml-2" })
}

